*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6,p {
  color: var(--main-black);
}

.home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-black);
}
